.accordionControl {
  padding: 0;
  border-radius: 4px;
  &:hover {
    background-color: inherit;
  }
  h2 {
    font-weight: 700;
    font-size: 20px;
    color: #606162;
  }
}

.accordionControl[aria-expanded='true'] {
  background: #e6f2ff;
  border-bottom: 1px solid #007aff;
  h2 {
    color: #000;
  }
}

.accordionLabel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #231f20;
}

.contentInner {
  padding: 16px 16px 0;
}

@media (max-width: 768px) {
  .section {
    padding-top: 40px;
  }

  .accordionControl {
    padding: 0 16px;
  }
  .contentInner {
    padding-top: 0;
    padding-bottom: 16px;
  }
  .icon {
    width: 15px;
    height: 15px;
    .vertical {
      height: 15px;
    }
    .horizontal {
      width: 15px;
    }
  }
}
